.header{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../../../public/assets/img/home.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}